* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box !important;
}

body {
  font-family: 'Trirong', serif, 'DM Sans', 'Roboto Condensed', 'Fjalla One',
    sans-serif !important;
  h1 {
    font-size: 25px;
    font-weight: 400;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
  p {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 40px;
    }
    p {
      font-family: 18px;
    }
  }
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 50px;
    }
    p {
      font-family: 20px;
    }
  }
}

:root {
  --red-color: #ec1d23;
  --black-color-line: #151515;
  --grey-color-card: #f4f4f4;
  --grey-color-footer: #ebebeb;
  --black-color-footer: #151515;
}

.mt-n4 {
  margin-top: -1rem !important;
}

.navbar-bg {
  background: #eaeaea;
}

.logo {
  position: absolute;
  top: 18px;
  border: 2px solid #fff;
}

.enquire-btn {
  background-color: var(--red-color) !important;
}

.horizontal-line {
  width: 110px;
  height: 1px;
  background-color: var(--black-color-line);
}

.chartered-housing {
  position: absolute;
  top: 190px;
}

.custom-card {
  background-color: var(--grey-color-card) !important;
}

.footer-bg1 {
  background: var(--grey-color-footer);
  li {
    opacity: 0.74;
    margin-bottom: 10px;
    .custom-link {
      text-decoration: none;
      color: #171717;
    }
    :hover {
      color: var(--red-color);
    }
  }
}

.footer-bg2 {
  background: var(--black-color-footer);
  p {
    color: #ffffff;
  }
}

.follow-us-con {
  background-color: #d5d5d5;
}

.vertical-text {
  font: 200 27px 'DM Sans';
  letter-spacing: 0.48px;
  color: #acacac;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.custom-border {
  border-right: 1px solid #ed1c25;
}

.project-custom-border {
  border: 1px solid #ed1c25;
}

.horizontal-line-red {
  width: 110px;
  height: 1px;
  background-color: #ed1c25;
}

.project-container {
  background-color: #f4f4f4;
  padding: 15px;
}

.project-year {
  font-family: 'Bahnschrift';
  font-size: 5rem;
  color: #4e4e4e;
}

.project-title {
  font-family: 'Bahnschrift';
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  color: #747474;
}

.project-add {
  font-family: 'Bahnschrift';
  font-size: 0.9rem;
  color: #747474;
}

.chartered-1956 {
  background-color: #fff;
  position: absolute;
  margin-top: -120px;
  padding: 20px;
  p {
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 400;
  }
  h1 {
    font-family: 'Fjalla One';
    font-size: 80px;
    color: #ec1d23;
    letter-spacing: 3px;
  }
}

.thumbnail-position {
  margin-top: -25px;
}

.highlight-border {
  border: 1px solid #ffbfc1;
}

.project-details-list-con {
  li {
    list-style-type: disc;
    padding: 10px;
    margin: 15px;
    width: 225px;
  }
  li::marker {
    color: #ec1d23;
  }
}

.amenities-bg {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  height: 80vh;
}

.ongoing-project {
  background-image: url('/ongoingProject/Group 49907.png');
}

.hummingbird {
  background-image: url('/hummingbird/Amenities02.png');
}

.grasshopper {
  background-image: url('/ongoingProject/Group 49907.png');
}

.amenities-item-con {
  display: flex;
  flex-wrap: wrap;
  background-color: #edebe8;
  width: 75%;
}

.amenities-item {
  width: 33.3%;
}

.home-banner {
  background-image: url('/homePage/Group 49919.png');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.chartered-philosophy-con {
  background-color: #f4f4f4;
}

.chartered-philosophy-img {
  height: 100px;
}

.quality-con {
  margin-top: 50px;
  img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .quality-con {
    margin-top: -45px;
    img {
      width: 632px;
      height: 467px;
    }
  }
}

.accordion-list-item {
  padding: 10px;
  li {
    list-style-type: '—';
    padding: 10px;
  }
}

.testimonials-bg {
  background-image: url('/homePage/Group 49908.png');
  background-size: cover;
  height: 80vh;
}

.leader-bg {
  background-color: #eaeaea;
  margin-top: -75px;
  min-height: 580px;
}

.leader-name {
  color: #ec1d23;
  font-family: 20px;
}

.vision-con {
  background-image: url('/storyPage1/Group 49912@2x.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  cursor: pointer;
  :hover {
    background-color: #fff;
    color: #000;
  }
}

.mission-con {
  background-image: url('/storyPage1/Group 49913@2x.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  :hover {
    background-color: #fff;
    color: #000;
  }
}

@media screen and (min-width: 992px) {
  .vision-con {
    width: 45%;
    margin-bottom: 0;
  }
  .mission-con {
    width: 55%;
    margin-bottom: 0;
  }
}

.content-con {
  height: 235px;
}

.list-con {
  padding: 0;
  li {
    list-style-type: '–';
    padding: 10px;
    font-size: 11px;
  }
  li::marker {
    color: var(--red-color);
  }
}

.ongoing-list-con {
  padding: 0;
  li {
    list-style-type: disc;
    margin: 10px 18px;
  }
  li::marker {
    color: var(--red-color);
  }
}

.slider-con {
  margin-top: -50px;
}

.slick-list {
  text-align: -webkit-center;
}
button.slick-arrow.slick-next,
button.slick-arrow.slick-prev {
  /* background: green !important; */
  width: 100px;
  height: 100px;
}
.slick-next:before {
  /* font-size: 85px !important; */
  content: url('/ongoingProject/Group 49810.svg') !important;
}
.slick-prev:after {
  /* font-size: 85px !important; */
  content: url('/ongoingProject/Group 49811.svg') !important;
}

.slider {
  position: absolute;
  left: 25%;
  margin-top: -85px !important;
}

.accordion-custom-btn {
  background-color: #f4f4f4 !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.custom-modal .modal-content {
  border-radius: 0 !important;
  border: 1px solid #707070;
}

.no-focus-outline {
  outline: none !important;
  box-shadow: 0px 1px 3px #00000029 !important;
  border: none !important;
}

.underline-on-hover:hover {
  text-decoration: underline !important;
}

.sitemap-list-con {
  li {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.contact-number {
  text-decoration: underline;
  color: var(--red-color);
  cursor: pointer;
}
