@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Trirong', serif, 'DM Sans', sans-serif !important;
}

:root {
  --red-color: #ec1d23;
  --black-color-line: #151515;
  --grey-color-card: #f4f4f4;
  --grey-color-footer: #ebebeb;
  --black-color-footer: #151515;
}

.navbar-bg {
  background: #eaeaea;
}

.logo {
  position: absolute;
  top: 18px;
  border: 2px solid #fff;
}

.enquire-btn {
  background-color: var(--red-color) !important;
}

.horizontal-line {
  width: 100px;
  height: 1px;
  background-color: var(--black-color-line);
}

.custom-card {
  background-color: var(--grey-color-card) !important;
}

.footer-bg1 {
  background: var(--grey-color-footer);
  li {
    color: #171717;
    opacity: 0.74;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

.footer-bg2 {
  background: var(--black-color-footer);
  p {
    color: #ffffff;
  }
}

.rotated-text {
  transform: matrix(0, -1, 1, 0, 0, 0);
  font: 200 24px/85px 'DM Sans';
  letter-spacing: 0.48px;
  color: #acacac;
  position: absolute;
  top: auto;
  left: 0;
}
